output
output/*
HIVCalibSite*
HIVCalibSite**/*
.vscode
__pycache__
__pycache__/*
COMPS_log.log
post_channel_config.json
DownloadAnalyzerTPI_cache/
DownloadAnalyzerTPI_cache/*

Zimbabwe--0.01--rep3--test3/